body {
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
}

/* HEADER */

header {
    background-image: url("../images/Cover.png");
    background-size: cover;
    background-position: center;
    width: 100%;
}

header h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    word-wrap: break-word;
}

header input {
    height: 72px;
}

.loupe {
    right: 0; 
    top: 0; 
    bottom: 0;
}

.custom-mb-10 {
    margin-bottom: 10rem;
}

/* CONTAINER (BOUTON ET CARD) */

.btn-container p {
    font-size: 21px;
}

.btn-tag-title {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
}

.card {
    border-radius: 21px;
}

.card-container h5,
.btn-container p {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ImgRecipe {
    height: 253px; 
    border-top-left-radius: 21px; 
    border-top-right-radius: 21px; 
    object-fit: cover;
}

/* BOUTONS FILTRES  */

.dropdown-menu {
    position: absolute;
    top: calc(100%); 
    left: 0; 
    width: 190px;
    display: none;
    border: none; 
    margin-top: 0; 
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-container {
    position: relative;
    margin-bottom: 10px;
}

.btn {
    width: 190px;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 4px;
    padding: 8px 12px; 
}

.btn:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown-container.active .dropdown-menu {
    display: block;
}

.dropdown-menu button:hover {
    background-color: rgb(255, 209, 91); /* Couleur de fond jaune au survol */
}

.dropdown-menu button:focus,
.dropdown-menu button:active {
    background-color: rgb(255, 209, 91);
}

.selected-ingredient,
.selected-appliance,
.selected-ustensil {
    margin-right: 35px;
}

/* Styles pour les boutons de tag */
.btn-tag {
    margin-right: 5px;
    margin-bottom: 5px;
}

/* Styles spécifiques à chaque type de tag */
.btn-ingredient {
    background-color: #FFD15B;
    color: #333;
}

.btn-appliance {
    background-color: #17a2b8;
    color: #fff;
}

.btn-ustensil {
    background-color: #28a745;
    color: #fff;
}

/* Style pour cacher la barre de recherche initialement */
.search-bar.hide {
    display: none;
}

/* Style pour rendre la barre de recherche visible lorsque la liste déroulante est ouverte */
.search-bar.show {
    display: block;
}

.rotate {
    transform: rotateX(180deg);
}

