body {
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
}

/* HEADER */

header {
    background-image: url("../images/Cover.png");
    background-size: cover;
    background-position: center;
    width: 100%;
}

header h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    word-wrap: break-word;
}

header input {
    height: 72px;
}

.loupe {
    right: 0; 
    top: 0; 
    bottom: 0;
}

.custom-mb-10 {
    margin-bottom: 10rem;
}

/* CONTAINER (BOUTON ET CARD) */

.btn-container p {
    font-size: 21px;
}

.btn-tag-title {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
}

.card {
    border-radius: 21px;
}

.card-container h5,
.btn-container p {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ImgRecipe {
    height: 253px; 
    border-top-left-radius: 21px; 
    border-top-right-radius: 21px; 
    object-fit: cover;
}

/* BOUTONS FILTRES  */

.dropdown-menu {
    position: absolute;
    top: calc(100%); /* Position juste en dessous du bouton */
    left: 0; /* Aligner sur la gauche */
    width: 190px; /* Largeur fixe pour la liste déroulante */
    display: none;
    border: none; /* Retirer la bordure */
    margin-top: 0; /* Ajuster la marge supérieure */
}

.btn-container {
    position: relative;
    margin-bottom: 10px; /* Ajouter de l'espace sous les boutons */
}

.btn {
    width: 190px; /* Le bouton prend la même largeur que la liste déroulante */
    display: flex;
    justify-content: space-between;
    border: none; /* Retirer la bordure */
    border-radius: 4px; /* Ajouter une légère courbure aux coins */
    padding: 8px 12px; /* Ajuster le rembourrage pour un meilleur aspect */
}

.btn:hover {
    background-color: #f0f0f0; /* Changement de couleur de fond au survol */
}

.dropdown-container.active .dropdown-menu {
    display: block;
}

.selected-ingredient,
.selected-appliance,
.selected-ustensil {
    margin-right: 35px;
}

/* Styles pour les boutons de tag */
.btn-tag {
    margin-right: 5px;
    margin-bottom: 5px;
}

/* Styles spécifiques à chaque type de tag */
.btn-ingredient {
    background-color: #ffc107;
    color: #333;
}

.btn-appliance {
    background-color: #17a2b8;
    color: #fff;
}

.btn-ustensil {
    background-color: #28a745;
    color: #fff;
}
